.flx {
  display: flex;
}
.flx-alI {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flx-spB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flx-rowOnXS {
  display: flex;
  flex-direction: column;
  
  @mixin atXSmall {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}



.flx-spBTonSM {
  @mixin atSmall {
    display: flex;
    justify-content: space-between;
    align-items: top;
  } 
}
.flx-spBTonXS {
  @mixin atXSmall {
    display: flex;
    justify-content: space-between;
    align-items: top;
  } 
}
.flx-rowOnSM {
  display: flex;
  flex-direction: column;

  @mixin atSmall {
    flex-direction: row;
  }
}







.flx-rowOnMD {
  display: flex;
  flex-direction: column;

  @mixin atMedium {
    flex-direction: row;
  }
}

.flx-o1 {
  display: flex;
  order: 1;

  @mixin atSmall {
    order: 2;
  }
}
.flx-o2 {
  display: flex;
  flex-direction: column;
  order: 2;

  @mixin atSmall {
    order: 1;
  }
}