.u-border {
  width: 100%;
  border: none;
  z-index: 1000;
  
  @mixin atXXSmall {
    border-right: 20px solid #FFF;
    border-left: 20px solid #FFF;
  }
  
  @mixin atXSmallY {
    border: none;
  }

  &-t {
    @mixin atXXSmall {
      border-top: 20px solid #FFF;
    }
    @mixin atXSmallY {
      border: none;
    }
  }

  &-b {
    @mixin atXXSmall {
      border-bottom: 20px solid #FFF;
    }
    @mixin atXSmallY {
      border: none;
    }
  }
}


.u-container {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  
  @mixin atLarge {
    max-width: 1250px;
  }
  /*
  @mixin atLarge {
    max-width: 1350px;
  }
  @mixin atLarge {
    max-width: 1180px;
  } 
  */
} 

.u-padd {
  padding: 0 1.25rem;
    
    @mixin atMedium {
      padding: 0 1.875rem;
    } 

    &-tl {
      padding: 1.5rem 0 1.5rem;
      margin: 0;
    }
}

.u-air-s {
  padding-top: 5rem;
}