.u-border {
  width: 100%;
  border: none;
  z-index: 1000;
  
  @mixin atXXSmall {
    border-right: 20px solid #FFF;
    border-left: 20px solid #FFF;
  }
  
  @mixin atXSmallY {
    border-right: 20px solid #FFF;
    border-left: 20px solid #FFF;
  }

  &-t {
    @mixin atXXSmall {  border-top: 20px solid #FFF;  }
    @mixin atXSmallY {  border-top: 20px solid #FFF;  }
  }

  &-b {
    @mixin atXXSmall {  border-bottom: 20px solid #FFF;  }
    @mixin atXSmallY {  border: none;  }
  }
}


.u-container {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  
  @mixin atLarge {  max-width: 1250px;  }
} 

.u-padd {
  padding: 0 1.25rem;
    
    @mixin atMedium {  padding: 0 1.875rem;  } 

    &-tl {
      padding: 1rem 0 0;
      margin: 0;

      @mixin atSmall   { padding: 1.5rem 0 1rem;  }
      @mixin atXSmallY { padding: 1rem 0 0;  }
    }
}

.u-air {
  &-sm  {  padding-top: 5rem; }
  &-md  {  padding-top: 12.5rem; }
  &-lg {  padding-top: 37.5rem; }
}



/* handling background here as utility */
.u-bg         { background-color: $bg; }
.u-bgLight    { background-color: $bgLight; }
.u-bg1        { background-color: $contentBg1; }
.u-bg2        { background-color: $contentBg2; }
.u-bg3        { background-color: $contentBg3; }
.u-bg4        { background-color: $contentBg4; }
/*  compare and clean it up on variables, proj-hero, work, introduce, img-box css files  */


.u-mask-light { 
  background: linear-gradient(180deg, rgba(244, 241, 239, 0) 82.82%, rgba(244, 241, 239, 0.65) 88.43%, #F4F1EF 93.71%, #F4F1EF 100%);
  
  position: absolute;
  /*width: 1142px;*/
  height: 809px;
  left: -11px;
  top: 0px;
  margin: 0 auto;

  position: relative;
  z-index: 1500;
  height: 37.5rem;
}

