.u-border {
  width: 100%;
  border: none;
  z-index: 1000;
  
  @mixin atXXSmall {
    border-right: 1.25rem solid #FFF;
    border-left: 1.25rem solid #FFF;
  }
  
  @mixin atXSmallY {
    border-right: 1.25rem solid #FFF;
    border-left: 1.25rem solid #FFF;
  }

  &-t {
    @mixin atXXSmall {  border-top: 1.25rem solid #FFF;  }
    @mixin atXSmallY {  border-top: 1.25rem solid #FFF;  }
  }

  &-b {
    @mixin atXXSmall {  border-bottom: 1.25rem solid #FFF;  }
    @mixin atXSmallY {  border: none;  }
  }
}

.u-container {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  
  @mixin atLarge {  max-width: 78.125rem;  }
} 



/*  changed html structure on proj-hero and proj-intro ...
need to checking up the effects and consequences  */
.u-padd {
  padding: 0 1.25rem;
    
    @mixin atMedium {  padding: 0 1.875rem;  } 

    /*  removed from proj-hero h1 checkup utility  */
    &-tl {
      padding: 1rem 0 0;

      @mixin atSmall   { padding: 1.5rem 0 1rem;  }
      @mixin atXSmallY { padding: 1rem 0 0;  }
    }
}



/* to define as u-p rather than u-padd, 
    then checkout utility targets: txt only or other pattern too

    u-pl, u-pr, u-pt, u-pb, u-py, u-px
    &-sm, -md, -xs, -lg
    handled with media mixins
*/
/*
.u-pt {
  &-xs { 
    padding-top: 1rem ;

      @mixin atSmall    { padding-top: 1.5rem; }
      @mixin atXSmallY  { padding-top: 1rem; }
  }
  &-sm { padding-top: 5rem; }
  &-md { padding-top: 12.5rem; }
  &-lg { 
    padding-top: 12.5rem;

    @mixin atMedium { padding-top: 37.5rem; }
  }
}
*/


.u-pt {
  &-xs {  padding-top: 3rem;  }
  &-sm {  padding-top: 5rem; }
  &-md {  padding-top: 12.5rem; }
  &-lg { 
    padding-top: 12.5rem;

    @mixin atMedium { padding-top: 37.5rem; }
  }
}
.u-pb {
  @mixin atSmall { padding-bottom: 1rem;  }
}
.u-px { 
  padding: 0 1.25rem;

  @mixin atMedium { padding: 0 1.875rem; }
}
.u-py {
  &-md { padding: 12.5rem 0; }
}


/*   to unify as margin not padding then checkout render  */

.u-mt {
  &-md { margin-top: 12.5rem; }
}

/*  to removed => switched by headings positioning & u-p utility */
.u-air {
  &-sm  {  padding-top: 5rem; }
  &-md  {  padding-top: 12.5rem;  }
  &-lg {  
    padding-top: 12.5rem; 

    @mixin atMedium {  padding-top: 37.5rem;  }
  }
}





.u-bg         { background-color: $colorWhite; }
.u-bgLight    { background-color: $colorLight; }
.u-bgLight2   { background-color: $colorGrayLight3; }
.u-bg1        { background-color: $colorContent1; }
.u-bg2        { background-color: $colorContent2; }
.u-bg3        { background-color: $colorContent3; }









/*  think,fix and test
.u-mask-light { 
  background: linear-gradient(180deg, rgba(244, 241, 239, 0) 82.82%, rgba(244, 241, 239, 0.65) 88.43%, #F4F1EF 93.71%, #F4F1EF 100%);

  position: absolute;
  width: 1142px;
  height: 809px;
  left: -11px;
  top: 0px;
  margin: 0 auto;

  position: relative;
  z-index: 1500;
  height: 37.5rem;
}
 */