.progress-bar {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  z-index: 1500;

  &::after,
  &-on-load > span {
      position: absolute;
      display: block;
      content: ' ';
      top: 0px;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      z-index: 1700;
      background-color: #FFFFFF;
  }
  
  &-on-load {
      & span {
          background-color: #e8e8e8;
          z-index: 1800;
      }
  }
}

.nav-item  > .is-active {
    color: $textColor!important;
}