.progress-bar {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  z-index: 1500;

  &::after,
  &-on-load > span {
      position: fixed;
      display: block;
      content: ' ';
      top: 0px;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      z-index: 1700;
      background-color: $colorWhite;
  }
  
  &-on-load {
      & span {
        /*background-color: red;*/
        /* background-color: #e8e8e8; */
        z-index: 1800;
      }
  }
}

.nav-item  > .is-active {
    color: $colorDark!important;
}


.links-up {
  display: inline-block;
  line-height: 1.1rem;
  transition: all .3s ease-in-out;
  
  &:hover,
  &:focus {
    box-shadow: inset 0 -.9rem 0 0 $colorDark;
    color: $colorWhite;
  } 
}

.links-hover {
  color: $colorGrayLight;
  transition: color .2s linear;

  &:hover {
    color: $colorDark;
  }
}


