.menu-btn {
  cursor: pointer;

  .line {
    height: 2px;
    width: 26px;
    background-color: $colorDark;
    margin-bottom: .3rem;
    transition: all .3s ease-out;
  }

  @mixin atMedium {  display: none;  }

  &--closeX {
    display: block;

    .line-1 {
      width: 26px;
      transform: rotate(-408deg) translate(-5px, 5px);
    }
    .line-2 {  opacity: 0;  }
    .line-3 {
      width: 26px;
      transform: rotate(405deg) translate(-5px, -5px);
    }
  }
}