.ab {
  position: relative;
  display: block;
  
  &-content {
    padding-top: 0;
    margin: 2rem auto 0;
    width: 100%;
    
    @mixin atXSmall {
      margin: 0;
      padding-top: 15rem;
    }
    

    .pw {

      width: 100%;
      height: 0;
      /*height: 0;*/
      /*margin-bottom: 1.5rem;*/
      
      /*padding-bottom: 45%;*/
      /*padding-bottom: 75%;*/
      
      /*   
      @mixin atXSmall {
        padding-bottom: 66.5%;
      }*/
      
      @mixin atSmall {
        /*padding-bottom: 46%;*/
        /*padding-bottom: 42.53%;*/
        
        width: 41.5%;
        margin: 0 0 5.25rem 5rem;


      }
        
        & > img {
          width: 100%;
          height: auto;
          padding: 0;
          /*margin: 0 6.25rem 5rem 1rem;*/
          /*width: 100%;
          height: auto;*/
          /*
          max-width: 800px;
          max-height: 1047px;
          */
          
          @mixin atXSmall {
            padding: 0 1rem;
          }
        }
    }
  






    .rw {
      margin: 29rem auto 0;
      text-align: left;

      @mixin atSmall {
        width: 58.5%;
        margin: 0 1rem;
        width: 62%;
      }

      .head {
        text-align: center;
        margin-top: 5rem;
        /*padding-bottom: 1rem;*/

        @mixin atXSmall {
          text-align: left;
        }
        
        @mixin atSmall {
          margin-top: 7.5rem;
          margin-left: 1.875rem;
          /*padding-bottom: 1.5rem;*/
        }

        &-left {
          margin-left: 0;

          @mixin atSmall {
            margin-left: -6rem;
          }
        }
      }

      .desc {
        & > h6 {
          text-align: center;
          padding-bottom: 1rem;
          margin: 0;  
          
          @mixin atXSmall {
            text-align: left;
            padding-bottom: 4rem;
          }

          @mixin atSmall {
            padding-bottom: 2rem;
          }
        }

        & div > h6 {
          /*text-align: left;*/
          padding: 1.5rem 0 1.125rem;
        }

        .links-res {
          display: block;
          text-decoration-line: line-through;
          transition: font-weight .25s ease-in-out;
          
          &:hover {
            text-decoration: none;
            font-weight: 700;
            color: #000;
          }
        }

      }
    }
    
    
  }
}