.ab {
  height: auto;
  
  &-content {
    padding-top: 0;
    margin: 0 auto;
    padding-top: 2rem;
    width: 100%;  

    @mixin atSmall {
      padding-top: 10rem;
    } 
    
    @mixin atXSmallY {
      padding-top: 6rem;
    }

    .pw {
      width: 100%;
      height: 0;
      padding-bottom: 50%;

         
      @mixin atXSmall {
        width: 38%;
        margin: 0 auto;
      }
      @mixin atSmall {
        width: 41.5%;
        height: 0;
        margin: 0 0 5.25rem 5rem;
        
       /* padding-bottom: 86.4%;*/
      }
      
      @mixin atMedium {
        padding-bottom: 86.4%;
      }
      
      & > img {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 auto;   

        @mixin atXSmall {
          margin: 8.5rem auto 0;
        }
        @mixin atSmall {
          padding: 0 1rem;
          margin: 0;
        }
      }
    }
  






    .rw {
      margin: 0 auto;
      
      @mixin atXSmall {
        margin: 6.5rem auto 0;
      }
      
      @mixin atSmall {
        width: 58.5%;
        /*width: 62%;*/
        padding: 0 1rem;
        margin: 0 5rem 0 0;

      }
      
      .head {
        text-align: center;
        margin-top: 22.5rem;

        @mixin atXSmall {
          margin-top: 3.5rem;
        }
        @mixin atSmall {
          text-align: left;
        }
        @mixin atMedium {
          margin-top: 3.375rem;
        }
        @mixin atLarge {
          margin-top: 6rem;
        }






        &-left {
          margin-left: 0;

          @mixin atSmall {
            margin-left: -5.25rem;
          }
          @mixin atMedium {
            margin-left: -6rem;
          }
        }
      }

      .body {
        & > h6 {
          text-align: center;
          padding-bottom: 1rem;
          margin: 0;  
          
          @mixin atXSmall {
            padding-bottom: 4rem;
          }
          @mixin atSmall {
            text-align: left;
            padding-bottom: 2rem;
          }
        }

        & div > h6 {
          padding: 2rem 0 .75rem;
        }

        & div > div > p,
        & div > div > a {
          margin: 0;
          padding: 0;
        }

        .links-res {
          display: block;
          text-decoration-line: line-through;
          transition: font-weight .25s ease-in-out;
          
          &:hover {
            text-decoration: none;
            font-weight: 700;
            color: #000;
          }
        }
      }
    }
  }
}