.ab {
  height: auto;
  
  &-content {
    /*  to test ab-content => is useless!?? */
    width: 100%;  
    padding-top: 0;
    /*  margin top to parent & child => to analize DRY */
    margin: 2rem auto 0;

    @mixin atSmall {
      margin: 0;
      padding-top: 10rem;
    } 
    
    @mixin atXSmallY {  padding-top: 6rem;  }

    & > div:nth-child(2) {
      margin: 0 auto;
      z-index: 2;
      
      @mixin atXSmall {  margin: 6.5rem auto 0;  }
      
      @mixin atSmall {
        width: 58.5%;
        padding: 0 1rem;
        margin: 0 5rem 0 0;
      }







      


      /* rename class? or use sibling direct el?  */
      .links-res {
        display: block;
        text-decoration-line: line-through;
        transition: font-weight .25s ease-in-out;
        
        &:hover {
          text-decoration: none;
          font-weight: 700;
          color: #000;
        }
      }
    }
  }
}