.proj-hero {
  height: 70vh;
  
  @mixin atXSmall {  height: 85vh;  }
  @mixin atSmall {  height: 100vh;  }
  
  &-content {
    width: 100%;  
    text-align: center;
    padding-top: 8rem;
    
    @mixin atSmall {  padding-top: 11.25rem;  }
    @mixin atXSmallY {  padding-top: 3.5rem;   }
    
    & > div {
      max-width: 70rem;
      margin: 0 auto;

      & > img {
        @mixin atXSmallY {  width: 85%;  }
      }
    }
  
  }
}