.proj-focus {
  width: 100%;
  padding: 0;
  margin: 0;
  
  & h2 {
    width: 420px;
    text-align: left;
    margin: 12.5rem auto;
    
    @mixin atXSmall { 
      line-height: 3rem; 
      width: 452px;
    }
    @mixin atSmall  { 
      width: 576px;
      text-align: center;
      line-height: 3.5rem;
    }
    @mixin atMedium {  }
  }

  & div {
    margin-top: 10rem;
    width: 100%;
    padding: 0;
    margin-left: 0;
    
    @mixin atSmall { 
      width: 60%;
      padding: 0 1rem; 
      margin-left: 33%;
    }
  }
}