.proj-prob {
  &-content {
    margin-left: 0;
    
    & .prob-head {
      width: 100%;
      padding: 0;

      @mixin atSmall { 
        width: 75%;
        padding: 0 1rem; 
        margin-left: 5.3125rem;
      }

      & h4 { margin-top: 1.625rem; }
    }

    & .prob-txt {
      margin-top: 10rem;
      width: 100%;
      padding: 0;
      margin-left: 0;
      
      @mixin atSmall { 
        width: 75%;
        padding: 0 1rem; 
        margin-left: 25.3125rem;
      }
      @mixin atXSmallY { margin-left: 0;  }
      @mixin atLargeY  { margin-left: 0;  }
    }

    & .prob-img {
      
      & > div { 
        width: 100%;
        margin: 0 auto;
        
        @mixin atSmall {  width: 75%;  }
        @mixin atLarge {  width: 100%; }

        & div {
          height: 80%;

          @mixin atSmall {  max-height: 29.625rem;  }
          @mixin atLarge {  max-height: 33.375rem;  } 
        }

        & > p {
          width: 60%;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
}