.proj-benefits {
  width: 100%;
  
  & h4 {
    width: 100%;
    padding-bottom: 1.5rem;
    margin: 0 auto;
    text-align: center;
    
    @mixin atXSmall { 
      line-height: 3rem; 
      width: 452px;
    }
    @mixin atSmall  { 
      width: 576px;
      line-height: 3.5rem;
    }
  }
  
  & p {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2.5rem;
    
    @mixin atXSmall { text-align: center; }
    @mixin atSmall { 
      width: 60%;
      padding: 0 1rem; 
    }
  }

  .proj-BI {
    max-width: 100%;
    margin: 0 auto;
  }

  .projBI-child1, .projBI-child2, .projBI-child3 {
    width: 100%;
    margin: 0 auto;

    @mixin atSmall {  max-width: 33%;  }
    
    & h6 {
      margin: 0 auto;
      padding-bottom: 2.5rem;
      
      @mixin atSmall {  
        text-align: center; 
        padding-bottom: 2rem; 
      }
    }
    
    & div {
      width:100%;

      & > img {  max-width: 373px;  }
    }
  }

    .projBI-child1, .projBI-child2 {
      padding-bottom: 12.5rem;

      @mixin atSmall {  padding-bottom: 0;  }
    }
}