.proj-footer {
  width: 100%;

  &-content {
    text-align: center;
    display: block;
    margin: 0 auto;

    & a {
      display: block;
      width: 22rem;
      margin: 1.5rem auto 0;
      z-index: 2000;
    }

  }
}