.rp {
  position: relative;
  
  
  &-content {

    .bg2 {
      background-color: $contentBg2;
    }
    
    
    .txt-wrap {
      order: 2;
      width: 100%;
      
      @mixin atSmall {
        order: 1;
        width: 40%;
        
        margin: 0 1rem;
      }
      
      & .head {
        position: relative;
        text-align: left;
        z-index: 25;
        
        margin-top: 3.375rem;
        padding-bottom: 1.5rem;
        margin-right: 0;
        
        @mixin atSmall {
          text-align: right;
          margin-right: -6rem;
        }
        
        /*
        @mixin atLarge {
          max-width: 20.25rem;
        }
        */
      }
      
      & .desc {
        text-align: left;
        
        @mixin atSmall {
          text-align: right;
        }
        
        & h4 {
          padding-bottom: 1rem;
        }

        & h6 span {
          display: none;

          @mixin atSmall {
            display: inline-block;
          }
        }
      }
    }
    
    
    .img-wrap {
      order: 1;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;
      /*height: 445px;*/
      
      @mixin atSmall {
        order: 2;
        width: 60%;
        
        margin-left: 1rem;
        margin-bottom: 1.5rem;
      }
    }

  }
}