.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 150;
  


  
  &--is-expanded {
    background-color: $background;
    height: 100vh;
    padding: 0;
    
    /*
    border: none;

    @mixin atXXSmall {
      border-right: 20px solid #FFF;
      border-left: 20px solid #FFF;
      border-top: 20px solid #FFF;
    }

    @mixin atXSmallY {
      border: none;
    }*/
    }
}
