.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 150;
  


  
  &--is-expanded {
    background-color: $colorGrayLight3;
    height: 100vh;
    padding: 0;
    
    }
}
