.w {
  position: relative;
  
  
  &-content {
    

    .bg1 {
      background-color: $contentBg1;
    }      
    .bg2 {
      background-color: $contentBg2;
    }
    .bg3 {
      background-color: $contentBg3;
    }
  }
}