.w {
  position: relative;
  
  
  &-content {
    .iw {
      position: relative;

      & img {
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 0;    
      }
    }

    .bg1 {
      background-color: $contentBg1;
    }      
    .bg2 {
      background-color: $contentBg2;
    }
    .bg3 {
      background-color: $contentBg3;
    }

  }
}