.work {
  margin-bottom: 4.45rem; 

  &-child1 {
    position: relative;
  
    & img {
      position: absolute;
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%);
      padding-bottom: 0;  
    }
  }

  &-child2 {
    z-index: 2;
    margin-top: 0;
  
    @mixin atSmall { 
      width: 37.5%; 
      margin-top: 5rem;
    }
    @mixin atMedium { margin-top: 6.5rem; }
    @mixin atLarge  { margin-top: 7.5rem; }

    & div {
      padding: 1.3rem 0 1rem;
      
      @mixin atSmall {  padding: 0 0 1.3rem;  }
    }
    
    & div a h6 span {
      display: none;
  
      @mixin atSmall {  display: inline-block;  }
    }
  }
}