.offset-txt {
  margin-left: 0;

  /* does it not the work pattern & ot the default!? */
  @mixin atSmall  {  margin-left: -3.3rem;  }
  @mixin atMedium {  margin-left: -4rem;  }

  &--reverse {
    margin-right: 0;
      
    @mixin atSmall {
      position: relative;
      z-index: 25;
      text-align: right;
      margin-right: -3.3rem;
    }

    @mixin atMedium {  margin-right: -4rem;  }
  }

  &--about {
  /* does it usefull repeating the default offset setting? */
    margin-left: 0;

    @mixin atSmall {  margin-left: -3rem;  }
    @mixin atMedium {  margin-left: -4.5rem;  }
  }
}