/*   typo nav-link  */
.typo-nl {
  font-weight: 200;
  font-family: 'Canela', serif;
  font-size: 2.5rem;
  line-height: 40px;
  text-transform: none;
  
  @mixin atMedium {
    font-size: 1.7rem;
    line-height: 28px;
  }
}

