/*   Main Website Border   */
.u-border {
  width: 100%;
  border: none;
  z-index: 1000;
  
  @mixin atXXSmall { border: 1.25rem solid #FFF; }
  @mixin atXSmallY { border: 1.25rem solid #FFF; }
}



/*   To Handling Backgrounds Colors   */
.u-bg         { background-color: $colorWhite; }
.u-bgLight    { background-color: $colorLight; }
.u-bgLight2   { background-color: $colorGrayLight3; }
.u-bg1        { background-color: $colorContent1; }
.u-bg2        { background-color: $colorContent2; }
.u-bg3        { background-color: $colorContent3; }



/*   Container    */
.u-container {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  
  @mixin atLarge {  max-width: 70.625rem;  }
} 



/*   Utilities Paddings on Texts    */
.u-px {
  padding: 0 1.25rem;
  
  @mixin atMedium {  padding: 0 1.875rem;  } 
}

/* u text py !!?  */
.u-py {
  padding: 1rem 0 0;

  @mixin atSmall   { padding: 1.5rem 0 1rem;  }
  @mixin atXSmallY { padding: 1rem 0 0;  }

  &-lg { padding: 12.5rem 0; }
}
.u-pt {
  &-sm {  padding-top: 4.5rem; }
  &-md {  padding-top: 12.5rem; }
}


/*  H6 Padding Bottom  */
.u-h6-pb { padding: 0 0 .75rem; }


/*  Text Margin Bottom  */
.u-t-mb { padding: 0 0 2rem; }






