.u-border {
  width: 100%;
  border: none;
  z-index: 1000;
  
  @mixin atXXSmall {
    border-right: 20px solid #FFF;
    border-left: 20px solid #FFF;
  }
  
  @mixin atXSmallY {
    border: none;
  }

  &-t {
    @mixin atXXSmall {
      border-top: 20px solid #FFF;
    }
    @mixin atXSmallY {
      border: none;
    }
  }

  &-b {
    @mixin atXXSmall {
      border-bottom: 20px solid #FFF;
    }
    @mixin atXSmallY {
      border: none;
    }
  }

/*
  &--is-displayed {
    background-color: $background;
    height: 100vh;
    padding: 0;
    z-index: 151;
    
    
    border: none;
  
    @mixin atXXSmall {
      border-right: 20px solid #FFF;
      border-left: 20px solid #FFF;
      border-top: 20px solid #FFF;
    }
    
    @mixin atXSmallY {
      border: none;
    } 
  }
*/
}


.u-container {
  height: auto;
  max-width: 100%;
  padding: 0 1.25rem;
  margin: 0 auto;
  
  @mixin atXXSmall {
    padding: 0 2.5rem;
  }

  @mixin atMedium {
    padding: 0 3.125rem;
  }
  
  @mixin atLarge {
    max-width: 1350px;
  }

  &-s {
    padding: 0 1.25rem;
  
    @mixin atMedium {
      padding: 0 1.875rem;
    } 
  }
} 


.u-flx {
  display: flex;

  &--spB {
    justify-content: space-between;
    align-items: center;
  }
}  

.u-air-s {
  padding-top: 5rem;

  @mixin atXSmall {
    padding-top: 8.75rem;
  }
  @mixin atXSmallY {
    padding-top: 5rem;
  }
}