.headings {

  &-work {
    padding-bottom: 1rem;
    
    @mixin atSmall {  padding-bottom: 1.5rem;  }
  }

  &-about {
    text-align: center;
    padding-top: 22.5rem;
    
    @mixin atXSmall {  padding-top: 3.5rem;  }
    @mixin atSmall  {  text-align: left;  }
    @mixin atMedium {  padding-top: 3.375rem;  }
    @mixin atLarge  {  padding-top: 6rem;  }
  }

  &-proj-hero {
    padding-top: 8rem;
    
    @mixin atSmall   {  padding-top: 12.5rem;  }
    @mixin atXSmallY {  padding-top: 3.5rem;    }
    @mixin atLargeY  {  padding-top: 20rem;  }
  }

  &-proj-intro {
    padding-top: 8rem;

    @mixin atSmall  { padding-top: 12.5rem; }
    @mixin atLargeY { padding-top: 17.5rem; }

  }

  /* to checkout with u-padd, */
  &-proj-coming {
    padding-bottom: 1.5rem;

    @mixin atSmall { padding-bottom: 0; }
  }
}