.iw {
  width: 100%;
  height: auto;
  padding-bottom: 69.5%;
  margin-bottom: 1.5rem;

  @mixin atXSmall {
    padding-bottom: 66.5%;
  }
  
  @mixin atSmall {
    width: 77%;
    height: 0;
    padding-bottom: 46%;
    /*padding-bottom: 42.53%;*/


    &-left {
      margin-right: 1rem;
    }

    &-right {
      margin-left: 1rem;
    }
  }
}
