.img-box {
  width: 100%;
  height: 0;
  z-index: 1;

  &-work {
    padding-bottom: 69.5%;
    margin-bottom: 1.5rem;

    @mixin atXSmall {  
      padding-bottom: 66.5%;  
    }
    
    @mixin atSmall {
      width: 62.5%;
      padding-bottom: 46%;
    }

    & img {  
      width: 95%;
      
      @mixin atSmall   {  max-width: 22rem; } 
      @mixin atMedium  {  max-width: 30rem;  }
      @mixin atLarge   {  max-width: 38.5rem;  }
    }
  }

  &-about {
    padding-bottom: 50%;

    @mixin atXSmall {  width: 38%;  }
    @mixin atSmall {
      width: 41.5%;
      height: 0;
    }
    
    @mixin atMedium {  padding-bottom: 86.4%;  }

    & > img {
      width: 100%;
      height: auto;
      padding: 0;
      
      @mixin atSmall {  padding: 0 1rem;  }
    }
  }

  &--pres50 {
    height: 80%;
    margin: 0 auto;

    @mixin atSmall {  max-height: 29.625rem;  }
    @mixin atLarge {  max-height: 33.375rem;  } 
  }
}