.img-box {
  width: 100%;
  height: 0;
  z-index: 1;

  &-work {
    padding-bottom: 69.5%;
    /*   margin ???? :
          1- padding 
       or 2- positioning on work.css file with margin   */
    margin-bottom: 1.5rem;

    @mixin atXSmall {  
      padding-bottom: 66.5%;  
    }
    
    @mixin atSmall {
      width: 62.5%;
      padding-bottom: 46%;
    }

    & img {  
      /*max-width: 14.0625rem;*/
      max-width: 16rem;
      
      @mixin atXXSmall {  max-width: 21.875rem;  }
      @mixin atXSmall  {  max-width: 28rem; }
      @mixin atSmall   {  max-width: 22rem; } 
      @mixin atMedium  {  max-width: 30rem;  }
      @mixin atLarge   {  max-width: 38.5rem;  }
    }
  }

  &-about {
    padding-bottom: 50%;

    @mixin atXSmall {  width: 38%;  }
    @mixin atSmall {
      width: 41.5%;
      height: 0;
    }
    
    @mixin atMedium {  padding-bottom: 86.4%;  }

    & > img {
      width: 100%;
      height: auto;
      padding: 0;
      
      @mixin atSmall {  padding: 0 1rem;  }
    }
  }
}