.latest-greatest {
    width: 100%;
    margin: 0 auto;
    
    @mixin atXSmall {
      margin: 6.5rem auto 0;
    }
    
    @mixin atSmall {
      padding: 0 1rem;
      margin: 0;
    }
    
        &-content {
          width: 100%;
          margin-top: 10rem;
    
          @mixin atXSmall {
            margin-top: 7rem;
          }
          @mixin atSmall {
            margin-top: 4.5rem;
          }
          /* @mixin atMedium {
            margin-top: 3.375rem;
          } 
          @mixin atLarge {
            margin-top: 6rem;
          }*/
          
              .col {
                width: 100%;

                @mixin atSmall {
                  width: 33.3%;
  
                  &:nth-child(2),
                  &:nth-child(3) {
                    padding-top: 6rem;
                  }
                }
                
                
                .head {
                }
                
                & h6 {
                  padding: 2rem 0 .75rem;
                }
          
                & div > p {
                  margin: 0;
                  padding: 0;
                }
              }
    
        }
}