.navbar {
  width: auto;
  padding-top: 1.25rem; 
  padding-bottom: 1.25rem;

  @mixin atXXSmall {
    padding-top: 2.5rem;  
    padding-bottom: 2.5rem;    
  }
  
  @mixin atXSmall {
    padding-top: 6.875rem;
    padding-bottom: 6.875rem;    
  }

  & nav > ul {  
    display: flex;
    flex-direction: column;
    
    
    @mixin atMedium {
      flex-direction: row;
    }

    &> li {
      
      &:first-child {
      padding-right: 0;
      
        @mixin atMedium {
          padding-right: 1.66rem;
        }
  
      }
    }
    
  } 
  
  &-left {
    & img {
      width: 40px;
    }
  }

  &-right {
  }
 
}