.navbar {
  display: none;
  position: absolute;
  top: 33.2vh;
  left: 0;
  padding-left: 0;
  padding-left: 1.25rem;
  opacity: 0;
  
  @mixin  atXXSmall {
    top: 35.8vh;
    padding-left: 2.5rem;
  }

  @mixin atMedium {
    display: block;
    position: relative;
    top: 0;
    padding-left: 0;
    opacity: 1;
  }
  
  & ul {  
    .nav-item {
      margin: 4px 0;

      @mixin atMedium {
        margin: 0;
      }

      &:first-child {
      padding-right: 0;
      
        @mixin atMedium {
          padding-right: 1.66rem;
        }
      }

      .nav-link {
        color: $colorGrayLight;
        transition: color .2s linear;

        &:hover {
          color: $colorDark;
        }
      }
    }
  } 


  
  &--is-visible {
    display: block;
    opacity: 1;
    z-index: 1;
  }
}