.offset-txt {
  margin-left: 0;

  @mixin atSmall {  margin-left: -3.5rem;  }
  @mixin atMedium {  margin-left: -4.3rem;  }

  &--reverse {
    margin-right: 0;
      
    @mixin atSmall {
      position: relative;
      z-index: 25;
      text-align: right;
      margin-right: -3.5rem;
    }

    @mixin atMedium {  margin-right: -4.3rem;  }
  }

  &--about {
    margin-left: 0;

    @mixin atSmall {
      margin-left: -4.5rem;
    }
    @mixin atMedium {
      margin-left: -6rem;
    }
  }
}