.top-bar {
  position: relative;
  width: auto;

  padding-top:    1.25rem;
  padding-bottom: 0;
  padding-left:   0;  
  padding-right:  0;  
  
  
  @mixin atXXSmall {
    padding-top:   2.5rem;   
    padding-left:  1.25rem;  
    padding-right: 1.25rem;  
  }
  
  @mixin atXSmall {
    padding-top:    6.5rem;
    padding-bottom: 2.625rem;    
  }
  
  @mixin atMedium {  
    padding-left:  1.875rem;
    padding-right: 1.875rem;
  }

  @mixin atLarge {  
    padding-left:  0;
    padding-right: 0;
  }
  
  @mixin atXSmallY {
    padding-top:    1.25rem; 
    padding-bottom: 0;
  }
  
  .logo {
    & img {
      width: 40px;
    }
  }
}