/*===  top-bar  ===*/
.top-bar {
  position: relative;
  width: auto;
  padding: 1.25rem 0;  
  
  @mixin atXXSmall { padding: 2.5rem 1.25rem ; }
  @mixin atXSmall  { padding: 6.5rem 1.25rem 6.5rem; }
  @mixin atMedium  { padding: 6.5rem 1.875rem 6.5rem; }
  @mixin atLarge   { padding: 6.5rem 0 6.5rem; }
  @mixin atXSmallY { padding: 1.25rem; }

  &--is-visible {
    padding: 1.25rem 1.25rem;

    @mixin atXXSmall {  padding:   1.25rem 1.25rem; }
    @mixin atXSmall  {  padding:   5.25rem 1.25rem; }
    @mixin atXSmallY {  padding:   1.25rem 1.25rem; }
  }
  
  .logo {
      & img { width: 40px; }
  }
}