.top-bar {
  position: relative;
  width: auto;

  padding-top: 1.25rem;
  padding-bottom: 0;
  
  
  @mixin atXXSmall {
    padding-top: 2.5rem;   
  }
  
  @mixin atXSmall {
    padding-top: 6.5rem;
    padding-bottom: 2.625rem;    
  }
  
  @mixin atXSmallY {
    padding-top: 1.25rem; 
    padding-bottom: 0;
  }
  
  .logo {
    & img {
      width: 40px;
    }
  }
}